/* .NEApp {
    text-align: center;
  }
  
  .NEApp-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  } 
  /* body {
    margin: auto;
    padding: 10vh;
    height: 100%;
    background-image: url('./images/b-1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  } */
  .NEApp-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    text-align: center;
  } 
  
  .NEApp-link {
    color: #61dafb;
  }
  
  .NEApp-header h1{
    margin-bottom: 20px;
  }
  
  input#fileInput{
    display: none;
  }
  
  
  
  
  .NEfileInputLabel{
    background-color: #4d8cf2;
    border-radius: 150px;
    padding:  7px;
    text-align: center;
    display: block;
    color: #fff;
    border: 2px solid rgb(60, 138, 226);
    /* box-shadow: rgba(32, 134, 235, 0.2) 0 -25px 18px -14px inset,rgba(32, 134, 235, 0.2) 0 1px 2px,rgba(32, 134, 235, 0.2) 0 2px 4px,rgba(32, 134, 235, 0.2) 0 4px 8px,rgba(32, 134, 235, 0.2) 0 8px 16px,rgba(32, 134, 235, 0.2) 0 16px 32px; */
    align-self: center;
    width: 560px ;
    position: relative;
  }
  
  .NEfileInputLabel:hover{
    border-color: white;  
  }
  
  
  .NEbutton-33 {
    background-color: #c2fbd7;
    justify-content: space-evenly;
    border-radius: 80px;
    /* box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px; */
    color: green;
    cursor: pointer;
    display: center;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    padding: 15px 2px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 2px solid;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 270px ;
    height: 90px auto;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 5px;
    margin-left: 5px;
    position: relative;
  }
  
  .NEbutton-33:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .NEbutton-33:hover{
    border-color: white;
  }
  
  /* p {
    margin-top: 20px;
  } */
  
  
  /* @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }  */