
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    max-height: 100vw;
    color: #333;
}

h1 {
    text-align: center;
    margin: 20px 0;
    color: #036;
}

form {
    max-width: 100vw;
    margin: auto;
    padding: 20px 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    max-height: 1500px;
    margin-bottom: 30px;
}

fieldset {
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
}

label {
    margin-bottom: 10px;
    font-weight: bold;
    color: #555;
}

input, select {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: calc(100% - 22px);
    box-sizing: border-box;
    background-color: white;
}

button {
    width: 100%;
    
    
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1.1em;
    cursor: pointer;
    transition: background-color 0.3s;
    display: inline-block;
    background: #3bbeff;
    color: white;
    padding: 8px 30px;
    margin: 10px 0;
    height: 50px;
    transition: background 0.5s;
}


button:hover {
  background: #344956;
}

#result {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 200px;
    margin-left: 250px;
    margin-right: 250px;
    padding: 20px;
    background-color: white;
    font-size: 1.2em;
    color: #360;
    
}


.container2 {
    text-align: center;
    margin-bottom: 20px;
    padding: 20px;
    background-color: rgb(183, 210, 255);
    font-size: 1.2em;
    color: #360;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
}

#myChart {
    display: block;
    height: 460px;
    max-height: 500px;
    justify-content: center;
    max-width: 540px; /* Matches the form width */
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    /*box-shadow: 0 0 8px rgba(0,0,0,0.1); */
}

.chart-container {
    display: flex; /* Enables flexbox */
    justify-content: center; /* Centers content horizontally in the flex container */
    align-items: center; /* Optional: centers content vertically if needed */
    width: 100%; /* Takes full width of its parent */
    margin-top: 20px; /* Space above the container */
    margin-bottom: 20px;
    padding-right: 200px;
}
.chart-overlay {
position: absolute; /* Position the overlay absolutely within .chart-container */
top: 0; /* Align the overlay to the top of .chart-container */
left: 0; /* Align the overlay to the left of .chart-container */
width: 100%; /* Take full width of .chart-container */
height: 100%; /* Take full height of .chart-container */
display: flex; /* Enable flexbox */
justify-content: center; /* Center content horizontally */
align-items: center; /* Center content vertically */
transform: translateX(-220px) translateY(1106px);

}
.loader {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: #333;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    display: none; /* Initially hidden */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
#navbar {
background-color: rgba(51, 51, 51, 0.8);
position: fixed; /* Make it stick/fixed */
top: 0; /* Stay on top */
left: 0;
width: 100vw;
transition: top 0.3s; /* Transition effect when sliding down (and up) */
z-index: 1000;
height: 90px;
}

#navbar a {
float: left;
display: block;
color: white;
text-align: center;
padding: 30px 30px;
text-decoration: none;
font-size: 18px;
}

#navbar a:hover {
color: black;
position: relative; /* Add relative positioning for pseudo-element */
}

#navbar a:hover::after {
content: ''; /* Add underline pseudo-element */
position: absolute;
bottom: 20px;
left: 22px;
width: 70%;
height: 3px;
background-color: #3bbeff; /* Underline color */
transform: scaleX(0); /* Initial transform for underline */
transition: transform 0.3s ease; /* Transition for underline */
}

#navbar a:hover::after {
transform: scaleX(1); /* Scale up underline on hover */
}
.title {
text-align: center;
font-size: 40px;
margin: 0 auto;
position: relative;
line-height: 60px;
color: #555;
}
.white-box {
width: 440px; /* Same width as the canvas */
height: 500px; /* Same height as the canvas */
background-color: white;
border-radius: 8px;
margin-left: 20px; /* Adjust margin as needed */
}
.title::after {
content: '';
background: #ff523b;
width: 80px;
height: 5px;
border-radius: 5px;
position: absolute;
bottom: 0;
left: 50%;
transform: translateX(-50%);
}
.treeimg
{
align-self: center;
transform: translateY(30px);
padding-bottom: 20px;
}
.datatitle
{
text-align: center;
font-size: 24px;
margin: 0 auto;
position: relative;
line-height: 60px;
color: #555;
}
